n8n-workflows/twilio-reply-handler.json
{
  "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
  "name": "Intake Genius — Twilio Reply Handler",
  "nodes": [
    {
      "id": "n1-webhook",
      "name": "Twilio Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "w2-twilio-reply",
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-reply",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "n2-extract",
      "name": "Extract Twilio Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [480, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "From",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "To",
              "value": "={{ $json.body.To }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "Body",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "MessageSid",
              "value": "={{ $json.body.MessageSid }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "NumMedia",
              "value": "={{ $json.body.NumMedia ?? '0' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n3-forward",
      "name": "Forward to FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [720, 300],
      "parameters": {
        "method": "POST",
        "url": "http://intake-genius:8000/webhooks/twilio/inbound",
        "sendBody": true,
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {"name": "From", "value": "={{ $json.From }}"},
            {"name": "To", "value": "={{ $json.To }}"},
            {"name": "Body", "value": "={{ $json.Body }}"},
            {"name": "MessageSid", "value": "={{ $json.MessageSid }}"},
            {"name": "NumMedia", "value": "={{ $json.NumMedia }}"}
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      }
    },
    {
      "id": "n4-respond",
      "name": "Return TwiML to Twilio",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {"name": "Content-Type", "value": "text/xml"}
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Twilio Inbound Webhook": {
      "main": [[{"node": "Extract Twilio Fields", "type": "main", "index": 0}]]
    },
    "Extract Twilio Fields": {
      "main": [[{"node": "Forward to FastAPI", "type": "main", "index": 0}]]
    },
    "Forward to FastAPI": {
      "main": [[{"node": "Return TwiML to Twilio", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "versionId": "v1-twilio-reply",
  "meta": {
    "templateId": "intake-genius-v1"
  },
  "tags": [{"name": "intake-genius"}],
  "_setup_notes": [
    "1. Import and activate",
    "2. Your Twilio inbound webhook URL will be: http://your-n8n-host:5678/webhook/twilio-reply",
    "3. In Twilio console → Phone Numbers → your number → 'A Message Comes In' → set to the URL above",
    "4. The workflow returns the TwiML from FastAPI back to Twilio (empty <Response/> by default)"
  ]
}
